#checkout {
  background-color: black;
  padding: 4vh 0;

  #cartItems {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: flex-start;
    justify-content: space-evenly;
    justify-items: center;
  }
  #emptyCartInfo {
    color: #eaeaea;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      text-align: center;
      font-size: 3em;
    }
  }
}
