@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Work+Sans&display=swap');

#detail {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;

  font-family: 'Work Sans', sans-serif;
}

#detail img#prodImg {
  height: 50vh;
  border: 1px solid black;
}

#detail #info {
  height: 50vh;
  width: 40vh;
  border: 1px solid black;
  color: #eaeaea;
  padding-left: 3em;
}

#detail #addBtn {
  background-color: #139546;
  width: fit-content;
  text-align: center;
  padding: 0.5em 1em;
  margin-top: 2em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#addBtn p {
  margin-left: 0.5em;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
}

#addBtn img {
  height: 2rem;
}
